{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h1 class="card-title text-center mb-4" style="color: orange">
                        Login
                    </h1>
                    <div class="alert alert-danger" id="errorMessage" style="display: none;"></div>
                    <div class="alert alert-success" id="successMessage" style="display: none;"></div>
                    <form id="loginForm" class="mb-3">
                        <div class="form-group">
                            <label for="email">
                                Email
                            </label>
                            <input type="text" class="form-control" id="email" placeholder="Digite seu email" required />
                        </div>

                        <div class="form-group">
                            <label for="password">
                                Senha
                            </label>
                            <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required />
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" style="background-color: orange; border-color: orange;">
                            Entrar
                        </button>
                    </form>
                    <a href="/cadastrar" class="ml-2 cadastrar-hover" style="color: darkorange;">
                        Cadastrar-se
                    </a>
                </div>
            </div>
        </div>
    </div> 
</div>

<script type="text/javascript" src="/static/js/pages/login.js"></script>

{% endblock %}
