{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<div class="card">
				<div class="card-header bg-white">
					<h3 class="mb-0 fs-2">Sobre o CoreFlow</h3>
				</div>
				<div class="card-body">
					<h5 class="text-primary mb-4">Transformando dados em decisões estratégicas para academias</h5>
					
					<div class="mb-5">
						<h6 class="mb-2 fw-bold fs-4">O Projeto</h6>
						<p class="mb-4">
							Este projeto é um sistema de monitoramento de interesse do cliente em espaços físicos nas academias, desenvolvido como parte do projeto interdisciplinar da disciplina de Projeto Integrado III, em conjunto com todas outras disciplinas, do curso de Ciências de Dados e Negócios da ESPM (Escola Superior de Propaganda e Marketing), sob a supervisão do professor Carlos Rafael Gimenes das Neves.
						</p>
						<h6 class="mb-2 fw-bold fs-4">Equipamento</h6>
						<p class="mb-4">
							O sistema utiliza sensores presentes na unidade principal da faculdade para fazer o monitoramento e análise de interesse de espaços, com o uso dos sensores "PRESENCE DETECTOR HPD2 IP" e "Passage People Counter VS350-915M PN White" na área de lazer do local, o PCA.
						</p>
						<h6 class="mb-2 fw-bold fs-4">Objetivo</h6>
						<p class="mb-4">
							O objetivo é que o sistema permita que os gerentes das academias tomem decisões de compras e rearranjamento de equipamentos na academia embasado em dados de ocupação das máquinas. Por exemplo, se uma máquina é muito utilizada e, constantemente, gera fila, comprar novas máquinas desse mesmo tipo pode ser vantajoso para o cliente. Também é possível estabelecer padrões de uso de múltiplos equipamentos pelos usuários do serviço fornecido.
						</p>
						<h6 class="mb-2 fw-bold fs-4">Parcerias</h6>
						<p class="mb-4">
							O projeto foi concebido em parceria com a empresa Absolut Technologies, integrando tecnologia de sensores avançados a uma solução voltada para inteligência operacional em academias. Além de possibilitar decisões mais eficazes para gestores, o sistema também está alinhado com os Objetivos de Desenvolvimento Sustentável (ODS) da ONU, principalmente a ODS 9, inovação e infraestrutura, promovendo ambientes mais eficientes e acessíveis. A plataforma também reforça práticas sustentáveis ao evitar gastos desnecessários com equipamentos subutilizados.
						</p>
					</div>
					
					
					<div class="team-section mt-5">
						<h6 class="mb-4" style="font-size: 18pt; font-weight: bold !important;">Nossa Equipe</h6>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="d-flex align-items-center">
									<div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 80px; height: 80px; font-size: 1.5rem; margin-right: 15px;"><img class="rounded-circle" src="../../static/img/andre.png" /></div>
									<div>
										<h6 class="mb-0">André Henrique Pacheco Alves</h6>
										<p class="small text-muted mb-0">Scrum Master</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="d-flex align-items-center">
									<div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 80px; height: 80px; font-size: 1.5rem; margin-right: 15px;"><img class="rounded-circle" src="../../static/img/gui.png" /></div>
									<div>
										<h6 class="mb-0">Guilherme Orlandi Oliveira</h6>
										<p class="small text-muted mb-0">Equipe de Desenvolvimento</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="d-flex align-items-center">
									<div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 80px; height: 80px; font-size: 1.5rem; margin-right: 15px;"><img class="rounded-circle" src="../../static/img/boca.png" /></div>
									<div>
										<h6 class="mb-0">Luis Felipe Galina Degaspari</h6>
										<p class="small text-muted mb-0">Equipe de Desenvolvimento</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="d-flex align-items-center">
									<div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 80px; height: 80px; font-size: 1.5rem; margin-right: 15px;"><img class="rounded-circle" src="../../static/img/pimenta.png" /></div>
									<div>
										<h6 class="mb-0">Luiz Felipe Pimenta Berrettini</h6>
										<p class="small text-muted mb-0">Product Owner</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="d-flex align-items-center">
									<div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center" style="width: 80px; height: 80px; font-size: 1.5rem; margin-right: 15px;"><img class="rounded-circle" src="../../static/img/luizao.png" /></div>
									<div>
										<h6 class="mb-0">Luiz Fernando Pazdziora Costa</h6>
										<p class="small text-muted mb-0">Equipe de Desenvolvimento</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}